<div class="cxo-wrapper">
	<h1>MY CUSTOM UI WORKING</h1>
	<h1>TEST TEMPLATE</h1>
	<h1>Digital Ecosystem</h1>
	<h2>Assessment Summary</h2>

	<p>{{ content.field_summary }}</p>

	<div class="score-card">
		<h3>{{ content.field_overall_score }}
			/ 100</h3>
		<p>Overall Score</p>
	</div>

	<div class="metrics">
		<div class="circle green">{{ content.field_tech_score }}</div>
		<div class="circle orange">{{ content.field_marketing_score }}</div>
		<div class="circle purple">{{ content.field_gtm_score }}</div>
		<div class="circle blue">{{ content.field_automation_score }}</div>
	</div>

</div>
